
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");


.body{
  background-image: url(../img/footer.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Lato;
  height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;;
}

span{
  color: #35a0cd;
}
a:hover{
  text-decoration: none;
}

.headerDiv{
  margin-top: 80px;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headerAgenda{
  margin-top: 20px;
  font-size: 17px;
}
.headerAgenda h4{
  color: #4a4a4a;
}

.sectionContenedor{
  font-size: 17px;
}
.sectionSuscribete{
  text-align: center;
  color: #f6a800;margin-bottom: 20px;
}

.sectionFormulario{
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.btn-suscribete{
  background: rgba(53, 160, 205, 0.5);
  padding: 20px;
  font-size: 12px;
  border: none;
  border-radius: 3px;
  display: block;
  color: white;
  text-align: center;
  margin-bottom: 50px;
  text-decoration: none;
  transition: 0.3s ease;

}
.btn-contacto, .btn-enviar{
  background: #f6a800;
  display: block;
  width: 230px;
  padding: 10px 0;
  text-align: left;
  border: none;
  border-radius: 3px;
  color: white;
  transition: 0.3s ease;

}
.btn-enviar{
  margin-top: 20px;
  background: #1fb4ff;
}
.icon, .icon{
  padding: 0px 22px;
}

.sectionLinea{
  background-color: #35a0cd;
  margin-top: 80px;
  height: 2px;
  border-radius: 50%;
}
.footer{
  padding-top: 30px;
  text-align: center;
}
.footerSociales{
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  margin-bottom: 30px;
}
.social{
  font-size: 30px;
  color: white;
}
.footerLugar{
  color: white;
  font-size: 12px;
  margin-bottom: 22px;
}
.footerCopyright{
  background-color: #35a0cd;
  padding: 15px;
  color: white;
  width: 100;
}
.footerCopyright p{
  margin-bottom: 0;
}
.footerExtension{
  background-color: #2D2E30;
}
.proxi{
  opacity: 0;
  width: 100%;
  background-color: rgba(246, 168, 0, 0.5);
  text-align: center;
  color: #ececec;
  padding: 15px 0;
}

.btn-contacto:hover, .btn-contacto:focus{
  color: white;
  background-color: #d09006;
}
.btn-suscribete:hover, .btn-suscribete:focus{
  color: white;
  background-color: #265263;
}
.btn-enviar:hover, .btn-enviar:focus{
  color: white;
  background-color: #1e9ad9;
}

.icon-facebook2:hover{
  color: #3b579d;
}
.icon-twitter:hover{
  color: #55acee;
}
.icon-youtube:hover{
  color: #e62117;
}







@media screen and (min-width: 768px){

  .btn-suscri{
    display: flex;
    justify-content: center;
  }
  .btn-enviar{
    margin-top: 0px;
    margin-left: 100px;
  }
  .bnt-conta{
    display: flex;
  }

  .footerSociales{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-bottom: 30px;
  }
  .social{
    margin-right: 50px;
  }
  .social:last-child{
    margin-right: 0px !important;
  }

};
